/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
    width: 100%;
}
.top-navigation .logo{
	height: 4.375rem;
}

div,nav ,ul{
	display: block;
}
.content {
	padding: 0 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
	width: 60rem;
}

.top-navigation .links{

	float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top:1.7rem;
	

}

.top-navigation .links li{
display: inline-block;
margin-left: 1.563rem;

}

.top-navigation .links li.active{
	color:#4c5058;
	font-weight: 500;
}

ol,ul{
	list-style:none;
}

.top-navigation .logo{
	height:4.375rem;
}

.introduction{
	background-image: url("../images/first-background.jpg");
	background-position: center bottom;
	background-size: cover;
   background-repeat: no-repeat;
   height: 45.938rem;
   overflow: auto;
}

.content{
	widows: 60rem;
}
.content{
	padding : 0 0 0.938;
	margin: 0 auto;
	min-width: 37.5rem;
}

.introduction h1{
	margin-top:17.5rem;
	font-size:3.125rem;
}

.introduction h1,h3{
	font-weight: 300;
	text-align: center;
	color:white;
}

h3{
	display: block;
	font-size:1.7rem;
	padding-top:1.2rem;
}

.introduction .buttons{
	text-align: center;
	color: white;
	margin-top: 1.573rem;
}

button{
width:9.688rem;
background: #f15a29;
border-color: #f15a29;
text-shadow:none;
border-style:none;
border-radius:4px;
padding: 1rem 1.5rem;
color:white;
font-size:1.125rem;
}

.cases{
	background: white;
	overflow: hidden;
	padding-bottom: 5rem;
}

.cases .content{
	margin-top: 7.875rem;
	text-align: center;
	color:##1d1e21;
}

.cases h2{
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}

.cases .devices >li{
	float:left;
	width: 33.33333%;
}
li{
	display: list-item;
}

.cases .devices h3{
	font-weight: 400;
font-size: 1.563rem;overflow
margin: 2.5rem 0px 1.875rem;
color:black;
}

.social{
background-color: #fff;
overflow: auto;
padding-bottom: 9.375rem;
text-align: center;
}

h5 {
display: block;
font-size: 0.83em;
-webkit-margin-before: 1.67em;
-webkit-margin-after: 1.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}

.social .icon li{
	border-radius: 1.25rem;
width: 2.5rem;
height: 2.5rem;
display: inline-block;
margin: 1.25rem 5px;
border: 1px solid #eaebec;
padding: 0.625rem 0;
text-align: center;
}